nav {
    display: none !important;
}

body {
    overflow: hidden;
}

.content-field {
    background: #CFC1B5;
}

.content-field form {
    margin: 20% 0;
}

.menu-field {
    /*background: url('https://i.imgur.com/b3MHGHj.jpg') center; */
    background: url('https://previews.123rf.com/images/edhar/edhar1803/edhar180314913/98291654-happy-guy-with-laptop-jubilant-in-spacious-living-room-.jpg') center;
}